body {
    background-color:#222222;
}
/* page's navigation bar */
.navbar {
    background-color: #ffb250;
    font-family: Eczar, serif;
    font-size: 120%;
    color: #222222;
    padding: 15px 15px 10px 35px;
}
.navbar > .centra {
    max-width: 900px;
    margin: 0 auto;
}
.menu {
    border-radius: 20px;
    background-color: #00c2c7;

}
#jklogo {
    max-width: 90px;
}
/* page intro & quotes */
.intro {
    background-color: #222222;
    padding: 30px 10px 10px 10px;
    text-align: center;
}
.topper {
    font-family:Montserrat, sans-serif; 
    color:#ffb250
}
.quotes {
    font-family: Eczar, serif; 
    color: #f0f2f5;
    font-size: 150%;
}
.footer {
    font-family: Montserrat, sans-serif; 
    color: lightgray;
    padding-top: 10px;
    font-size: 80%;
}
/* sections */
.domain {
    background-color: #00c2c7;
    padding: 15px 15px 10px 15px;
    text-align: center;
    font-size: 90%;
}
.domain > .row {
    max-width: 900px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.titlebar {
    background-color: #00c2c7;
    padding: 15px 15px 10px 35px;
    text-align: left;
    font-family: Montserrat, sans-serif;
    vertical-align: middle;
    align-items: center;
}
.titlebar > .centra {
    max-width: 900px;
    margin: 0 auto;
}
#coding {
    padding-top: 15px;
}
.icon {
    width: 50px;
}
.icon:hover {
    width: 50px; 
    opacity: 80%;
}
/* mainbody & body */
.main {
    background-color:#636363;
    color: #f0f2f5;
    font-family: Montserrat, sans-serif;
    font-size: 90%;
    padding: 25px;
    text-align: left;
}
.main > .centra {
    max-width: 800px;
    margin: 0 auto;
}
.col {
    padding: 0;
    font-size: 80%;
    vertical-align: auto;
}
/* list */
ul {
    list-style-type: none;
    padding-left: 20px;
}
li {
    padding-bottom: 15px;
}
/* media */
.photoV {
    max-width:230px; 
    margin: 3px;
}
.photoH {
    max-width:300px;
    margin: 5px;
}
.vids {
    margin: 10px; 
    border: white solid 3px;
}
/* buttons */
.btn {
    font-family: Montserrat, sans-serif;
    font-size: 80%;
    max-width: 120px;
    margin: 2px;
}
a:hover {
    text-decoration: none;
    
}